# Virtual Environment
venv_skripsi/
venv/
.venv/

# Data mentah / turunan / split
data/raw/
data/processed/
data/splits/

# Model tersimpan dan artefak training
models/checkpoints/
models/final/
models/*.keras
models/*.h5

# Hasil evaluasi
reports/Train_V1_900/
reports/Train_V2_900/
reports/Train_V3_400s/
reports/Train_V4_500p/
reports/Train_V5_400s/
reports/Train_V6_900/
reports/Train_V7_900/
reports/Train_V8_1600/
reports/Train_V9_1600t/
reports/Train_V10_1600t/
# Best results
reports/Train_V11_1600t/
# 
# New preprocessing and training strategy
reports/Train_V12_1600t/
# 
reports/Train_V13_1600/

reports/metrics/
reports/figures/
results/
logs/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db